<link rel="stylesheet" href="nagano_cake/app/assets/stylesheet/admin/items.scss">



<div class="contaier">
    <div class="row">
        <div class= "col-sm-12, col-md-8, col-lg-5, px-5 px-sm-0, mx-auto">
            <p>商品一覧</p>
            <table cellspacing="3px"> 
                <thead>
                    <tr>
                        <th class="header0">No.</th>
                        <th class="header1">商品名</th>
                        <th class="header2">税抜き価格</th>
                        <th class="header3">ジャンル</th>
                        <th class="header4">販売ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @items.each do |item| %>
                    <tr>
                        <td><%= item.id %></td>
                        <td>
                            <%= link_to admin_item_path(item.id) do %>
                            <%= item.name %>
                            <% end %>
                        </td>
                        <td><%= item.price %></td>
                        <td><%= item.genre_id %></td>
                        <td><%= item.is_active %></td>
                        
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div> 
</div>