<p>注文履歴</p>

<table>
    <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払い金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
    </tr>
<% @orders.each do |order| %>
<tr>
    
<td><%= order.created_at %></td>

<td>
<%= order.post_code %>
<%= order.address_home %>
<%= order.address_name %>
</td>
<td><%=  %></td>
</tr>
<% end %>
</table>
