<%= form_with model: @order, url:orders_confirm_path do |f| %>
    <strong><p>支払い方法</p></strong>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    <%= f.radio_button :payment_method, "transfer" %>    
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
    
    
    <strong><p>お届け先</p></strong>
    <%= f.radio_button :address_number, 0 %>
    <%= f.label :address_number, '登録先の住所' %>
    <%= current_customer.postal_code %>
    <%= current_customer.address %>
    <%= current_customer.last_name %>
    <%= current_customer.first_name %>
    <br>
    <%= f.radio_button :address_number, 1 %>
    <%= f.label :address_number, '登録済み住所から選択' %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
    <br>
    
    
    <%= f.radio_button :address_number, 2 %>
    <%= f.label :address_number, '新しいお届け先' %>
    <br>
    <table>
        <tr>
        <td><p>郵便番号</p></td>
        <td><%= f.text_field:post_code %></td>
        </tr>
        
        <tr>
        <td><p>住所</p></td>
        <td><%= f.text_area:address_home %></td>
        </tr>
        
        <tr>
        <td><p>宛名</p></td>
        <td><%= f.text_field:address_name %></td>
        </tr>
    </table>

    
    <%= f.submit "確認画面へ進む" %>
<% end %>