<!DOCTYPE html>


<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="nagano_cake/app/assets/stylesheet/application.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h4>NaganoCake</h4>
          </div>
      
          
          <div class="col-lg-9">
            <ul　class="navbar-nav ml-auto">
              <li>
                <%= link_to '商品一覧',admin_items_path %>
              </li>
              <li>
                <p>会員一覧</p>
              </li>
              <li>
                <p>注文履歴一覧</p>
              </li>
              <li>
                <p>ジャンル一覧</p>
              </li>
              <li>
                <%= link_to 'ログアウト',destroy_admin_session_path,method: :dalete %>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
      
    </header>
    <%= yield %>
  </body>
</html>
